<footer class="footer">
  <small>
    Watslife
    by <a href="http://www.srikanthkumar.com/">Srikanth Kumar</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>